{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Generic meta data -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Page specific meta data -->
        <meta
            name="description"
            content="Here goes the description about your page"
        />
        <meta
            name="keywords"
            content="Here goes important keywords about your page"
        />
        <title>{{.Title}}</title>

        <!-- Resources like scripts, stylesheets and fonts -->
        <link rel="stylesheet" href="/assets/css/main.css" />
        <script src="/assets/js/main.js" defer></script>
    </head>
    <body>
        <div class="container">
            <!-- The header of your page -->
            <header class="header"></header>

            <!-- The main content of your page -->
            <main class="main"></main>
        </div>
    </body>
</html>
{{end}}
