/* Base styles for your page */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    line-height: 1.5;
    font-family: sans-serif;
}

a, input, label, textarea, button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration-color: none;
}